{% extends '_base.html' %}
{% load humanize %}
{% block availability_nav_active %}active{% endblock %}
{% block back %}
    <li class="breadcrumb-item">
        <a href="{% url 'availability-index' %}">kas</a>
    </li>
    <li class="breadcrumb-item active">omsn</li>

{% endblock %}


{% block content %}
    <section>
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{ user_identifier }}</h1>
                    <p class="lead">
                        These are the availabilities for the user identifier string <kbd>{{ user_identifier }}</kbd>.
                    </p>
                    <p>
                        Ablator can retrieve these availabilities because you provided it with the unhashed user
                        identifier string. Please note that a reverse lookup of these is not possible.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Flavor</th>
                <th>Created At</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.flavor }}</td>
                    <td>{{ obj.created_at }}</td>
                    <td>{{ obj.is_enabled }}</td>
                    <td>Edit &bullet; Delete</td>
                </tr>
            {% empty %}
                <tr>
                    <td>No Availablities for this user identifier.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}