{% extends '_base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h1>{{ app.name }}</h1>

                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">{{ app.name }}</a>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'app-detail' app.id %}">Overview</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'app-usage' app.id %}">Usage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'app-update' app.id %}">Edit</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                {% block app_content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}